*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', 'sans-serif';
  line-height: 1.3;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

form {
  margin: 0;
}